apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "keycloak-configure.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "keycloak-configure.labels" . | nindent 4 }}
spec:
  {{- if .Values.job.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ .Values.job.ttlSecondsAfterFinished }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "keycloak-configure.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: job
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "/app/script.sh"]
          envFrom:
            - secretRef:
                name: keycloak-configure-secret
          env:
            - valueFrom:
                secretKeyRef:
                  key: admin-password
                  name: {{ .Release.Name }}-keycloak
              name: KEYCLOAK_ADMIN_PASSWORD
          volumeMounts:
            - mountPath: /app/script.sh
              name: script
              subPath: script.sh
          resources:
            {{- toYaml .Values.job.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
      restartPolicy: Never
      volumes:
        - name: script
          configMap:
            name: setup-keycloak
      serviceAccountName: keycloak-configure-sa
  backoffLimit: 4
